{% extends 'base/base.html' %}
{% load static %}
{% block style_css %}
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/cart.css">
{% endblock %}
{% block body_content %}
    <div class="card_cart mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title_cart">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div id="products_count" class="col align-self-center text-right text-muted">{{ cart_products|length }} items</div>
                    </div>
                </div>

                {% if cart_products %}
                    {% for product in cart_products %}
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" src="{{ product.cover_image.url }}"></div>
                                <div class="col">
                                    <div class="row text-muted">{{ product.brand }}</div>
                                    <div class="row">{{ product.title }}</div>
                                </div>
                                <div class="col">
                                    <a href="#" class="text-decoration-none">-</a><a href="#" class="border text-decoration-none">1</a><a class="text-decoration-none" href="#">+</a>
                                </div>
                                <div class="col">BGN {{ product.price|floatformat:2 }} <a data-product-price="{{ product.price }}" data-product-slug="{{ product.slug }}" href="#" class="delete_cart_element close_cart text-decoration-none">&#10005;</a></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}


                <div class="back-to-shop"><a class="text-decoration-none" href="{% url 'shop' %}">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <form>
                    <p>SHIPPING</p>
                    <select>
                        <option class="text-muted">Standard-Delivery- &euro;5.00</option>
                    </select>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right" data-total-price="{{ request.cart_price }}" id="total_price">BGN {{ request.cart_price|floatformat:2 }}</div>
                </div>
                <a  href="{% url 'payment' %}" class="btn_cart btn btn-primary">CHECKOUT</a>
            </div>
        </div>

    </div>
    <script type="module" src="{% get_static_prefix %}js/cart/del_cart_product.js"></script>
{% endblock %}