{% extends 'base/base.html' %}
{% load static %}
{% load mptt_tags %}
{% block body_content %}
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none pt-1 pb-3"
                       href="{% url 'shop' %}">
                        Show All
                    </a>
                    {% for category in categories %}
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none"
                               href="{% url 'shop' category.title %}">
                                {{ category.title }}
                                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul class="collapse show list-unstyled p-3">
                                <li><a class="text-decoration-none" href="{% url 'shop' category.slug %}">All</a></li>
                                {% for child in category.get_children %}
                                    <li><a class="text-decoration-none"
                                           href="{% url 'shop' child.slug %}">{{ child.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3"
                                   href="{% url 'shop' category %}">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3"
                                   href="{% url 'shop' category 'Men' %}">Men's</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="{% url 'shop' category 'Women' %}">Women's</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" style="width: 400px; height: 200px"
                                         src="{{ product.cover_image.url }}">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            {% if request.user.is_authenticated %}
                                                <li><a data-product-slug="{{ product.slug }}"
                                                       class="btn btn-success text-white favourites" href="#"><i
                                                        class="far fa-heart"></i></a></li>
                                            {% endif %}
                                            <li><a class="btn btn-success text-white mt-2"
                                                   href="{% url "shop_details" product.slug %}"><i
                                                    class="far fa-eye"></i></a></li>
                                            <li id="cart" data-product-slug="{{ product.slug }}"><a
                                                    class="btn btn-success text-white mt-2"><i
                                                    class="fas fa-cart-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="card-body">
                                    <a href="{% url 'shop_details' product.slug %}"
                                       class="h3 text-decoration-none">{{ product.title }}</a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li>M/L/X/XL</li>
                                        <li class="pt-2">
                                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li class="rating" data-rating="{{ product.rating }}">
                                        </li>
                                    </ul>
                                    <p class="text-center mb-0">${{ product.price|floatformat:2 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div div="row" style="display: flex; justify-content: center; align-items: center;">
                    <ul class="pagination pagination-lg justify-content-end">
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_num == page_obj.number %}
                                <li class="page-item disabled">
                                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                                       href="#"
                                       tabindex="-1">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                       href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% get_static_prefix %}js/shop_rate.js"></script>
    <script src="{% get_static_prefix %}js/favourites/add_to_favourites.js"></script>
    <script src="{% get_static_prefix %}js/cart/add_to_cart.js"></script>
    {% if messages %}
            {#    TODO FINISH THIS#}
            {% for message in messages %}
                <script>accessMessage("{{ message.tags }}")</script>
            {% endfor %}

    {% endif %}
    <script src="{% get_static_prefix %}js/alerts.js"></script>
    <!--End Brands-->
{% endblock %}>

